name: Resusable Workflow
# workflow call trigger is used to make this workflow reusable
# this workflow can be called from other workflows
on: 
    workflow_call:
        # inputs can be defined here if needed
        # outputs can be defined here if needed
        inputs: 
            artifact-name:
                description: 'Name of the artifact to download'
                # required is mandatory for inputs if value is to be passed
                required: false
                default: 'dist'
                type: string
        # secrets:
        #   # define any secrets if needed
        #   DEPLOYMENT_TOKEN:
        #     required: false
        outputs:
          # define outputs if needed
          result:
            description: 'Result of the deployment step'
            value: ${{ jobs.deploy.outputs.outcome }}

jobs:
  deploy:
    outputs:
        outcome: ${{ steps.set-results.outputs.step-result }}
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/download-artifact@v4
        with:
          name: ${{ inputs.artifact-name }}
      - name: List files
        run: ls 

      - name: output information
        run: echo "This is a reusable workflow!"
      - name: Set results output
        id: set-results
        run: echo "step-result=success" >> $GITHUB_OUTPUT
